.dietJournalContainer{
    max-Width: '750px';
    background-color: rgb(255, 174, 174);
    padding: 0 2.5em;
    border-radius: 15px;

}
.title{
    font-size:1.5rem;
    font-weight: 400;
    margin: 0.5em 0;
    
}
.entryRenderRow{
    margin:2.5em 4em;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    border:none;
    width:100%;
}